<div class="stripe concerned">
  <div class="container">
    
    <div class="row">
      <div class="col col-xs-12">
        <h2>{{ t "why-concerned.title" }}</h2>
        
        <div>
          <p>{{ t "why-concerned.studies" }}</p>
        
          <blockquote cite="http://www3.epa.gov/airnow/particle/pm-color.pdf">
            {{ t "why-concerned.quote-particles" }}
          </blockquote>
          
          <blockquote cite="http://www3.epa.gov/airnow/particle/pm-color.pdf">
            {{ t "why-concerned.quote-long-term" }}
          </blockquote>
        </div>
        
        <p>{{ t "why-concerned.particle-brochure" }}</p>
        <p>{{ t "why-concerned.petcoke-chicago" }}</p>
        <p>{{ t "why-concerned.epa-fenceline" }}</p>

      </div>
    </div>
  </div>
</div>
