<div class="container exposure-risk">
  <div class="row">
    
    <h1 class='hero'>{{ t "index.hero"  }}</h1>
    <h2 class='subtitle'>{{ t "index.subtitle" }} {{ location }}</h2>

    <div class="row wind-info">

    	<p class="wind-status">
    		{{t wind.status.term}}
    	</p>

    	<div class="wind-data">
    		<p>
    			{{t "index.wind-data.speed" }}: {{ formatNumber wind.speed "0,0.0" }} mph 
    			{{t "index.wind-data.from" }} {{t wind.cardinal}}
    		</p>
    	</div>

    	<div class="compass">
    		<span class="bearing-indicator" data-bearing='{{wind.bearing}}'></span>
    		<p class="speed-indicator">
          {{ formatNumber wind.speed "0,0.0"}}
          <span class="mph">mph</span>
        </p>
    	</div>

    	<div class='time-taken'>
    		<p>{{t "index.wind-data.time-taken" }} {{ formatUnixDate wind.timeTaken "h:mm:ss A" }}<p>
    			
    		<p>{{ t "index.wind-data.using"}} <a href='https://developer.forecast.io/' target='_blank'>forecast.io</a></p>
    	</div>
    </div>

  </div>

</div>
