<nav class="navbar navbar-default">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
      <a class="navbar-brand" href="/">Petcoke Alerts</a>

      {{#if languageIsEnglish}}
        <a class='language-selector' href="?setLng=es-US">Espa&ntilde;ol</a>
      {{else}}
        <a class='language-selector' href="?setLng=en-US">English</a>
      {{/if}}

    </div>

    <div class="current-condition row">

      <p class='status'>
        {{t "nav.current-condition" }} {{ t wind.status.term }}
      </p>

      <p class="compass">
                <span class="speed-indicator">{{ formatNumber wind.speed "0,0.0"}}</span> mph
                <span class="bearing-indicator" data-bearing='{{wind.bearing}}'></span>
        </p>

      <div class="clearfix"></div>

    </div> <!-- /.current-condition -->
  </div><!-- /.container-fluid -->

</nav>
