<h1 class='hero'>{{ t "index.hero"  }}</h1>
<h2 class='subtitle'>{{ t "index.subtitle" }} {{ location }}</h2>

<div class="row wind-info">

	<p class="wind-status">
		{{wind.status.term}}
	</p>

	<div class="compass">
		<span class="bearing-indicator" data-bearing='{{wind.bearing}}'></span>
		<span class="speed-indicator">{{ formatNumber wind.speed "0,0.0"}}</span>
	</div>

	<div class="wind-data">
		<p>{{t "index.wind-data.speed" }}: {{ formatNumber wind.speed "0,0.0" }} mph</p>
		<p>{{t "index.wind-data.from" }} {{degreeToCompass wind.bearing}}</p>
		<p class='time-taken'>{{t "index.wind-data.time-taken" }} {{ formatUnixDate wind.timeTaken "h:mm:ss A" }} {{ t "index.wind-data.using"}}
			<a href='https://developer.forecast.io/' target='_blank'>forecast.io</a>
		</p>
	</div>

	<a href='/take-action' class='btn btn-primary action-button'>{{ t "index.take_action" }}</a>&nbsp;
	<a href='/subscribe' class="btn btn-primary action-button">{{ t "index.get_alerts" }}</a>

</div>
