<h1 class='hero'>Current Wind Conditions</h1>
<h2 class='subtitle'>at {{ location }}</h2>

<div class="row wind-info">

	<p class="wind-status">
		{{wind.status.term}}
	</p>

	<div class="compass">
		<span class="bearing-indicator" data-bearing='{{wind.bearing}}'></span>
		<span class="speed-indicator">{{ formatNumber wind.speed "0,0.0"}}</span>
	</div>

	<div class="wind-data">
		<p>Speed: {{ formatNumber wind.speed "0,0.0" }} mph</p>
		<p>Blowing from  the {{degreeToCompass wind.bearing}}</p>
		<p class='time-taken'>Reading taken at {{ formatUnixDate wind.timeTaken "h:mm:ss A" }} using
			<a href='https://developer.forecast.io/' target='_blank'>forecast.io</a>
		</p>
	</div>

	<a href='/subscribe' class="btn btn-primary" id="get_notifications">Get Air Quality Alerts</a>

</div>
