<!DOCTYPE html>
<html>
  <head>
    <title>{{ t "head.title" }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bower_components/fontawesome/css/font-awesome.min.css">
    <link rel='stylesheet' href='/stylesheets/style.css' />

    <script src='/bower_components/jquery/dist/jquery.min.js'></script>
    <script src='/bower_components/parsleyjs/dist/parsley.min.js'></script>
    <script src='/bower_components/bootstrap/dist/js/bootstrap.min.js'></script>
    <script src='/js/js.js'></script>
  </head>
  <body class="{{ bodyClass }} {{ windLevel }}">
    {{> header }}
    <div class="container">


      {{{body}}}

      <footer id="footer">
        <hr>

        <div class="well">
          <p>
            {{ t "footer.well-a" }}

            <a href="https://www.facebook.com/pages/Chicago-South-East-Side-Coalition-To-Ban-Petcoke/848330295223606?fref=ts" target='_blank'>
              {{ t "footer.well-b" }}
            </a>

            {{ t "footer.well-c" }}

            <a target="_blank" href='http://chihacknight.org'>Chi Hack Night</a>.
          </p>

          <p>
            {{ t "footer.email" }} <a href='mailto:obautista58@gmail.com?subject=petcokealerts.org'>Olga Bautista</a>.
          </p>

          <p>
            <a href='https://github.com/open-city/kcbx-petcoke' target="_blank">
              <span class="fa fa-github"></span> {{ t "footer.github" }}
            </a>
          </p>

        </div>

        <table class="footer-nav">

          <tr>

            <td><a href="/">{{ t "footer-nav.home" }}</a></td>
            <td><a href="/subscribe">{{ t "footer-nav.subscribe" }}</a></td>
            <td><a href="/take-action">{{ t "footer-nav.take-action" }}</a></td>
            <td><a href="/subscribe#unsubscribe">{{ t "footer-nav.unsubscribe" }}</a></td>

          </tr>

        </table>
      </footer>
    </div><!-- .container -->


    <!-- Begin google analytics tracking -->
    <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-6550650-28', 'auto');
      ga('send', 'pageview');

    </script>
    <!-- End google analytics tracking -->
  </body>
</html>
