<h1 class='page-title'>{{ t "subscribe.page-title" }}</h1>

<form class='form sms-signup well' action="/api/subscribers" method="POST" data-parsley-validate>

  <p>{{ t "subscribe.form" }}</p>

  <div class="row">
    <div class="col col-xs-8">
      <input class='form-control'
             type="tel"
             name='phone'
             id='phone_input'
             placeholder='{{t "subscribe.input.placeholder"}}'
             data-parsley-required-message='{{ t "subscribe.input.valid" }}'
             required>
    </div>
    <div class="col col-xs-4">
      <input class='btn btn-primary form-control' type="submit" name='submit'
             value='{{ t "subscribe.input.submit" }}'>
    </div>
  </div>
  <div class="row">
    <p>{{ t "subscribe.input.valid-info" }}</p>
    <p class="status">&nbsp;</p>
  </div>
</form>

<h3>{{ t "subscribe.about.title" }}</h3>

<p>{{ t "subscribe.about.body" }}</p>

<h3>{{ t "subscribe.act.title" }}</h3>

<p><strong>{{ t "subscribe.act.body-strong" }}</strong> {{ t "subscribe.act.body-main" }}</p>

<h3 id="unsubscribe">{{ t "subscribe.off-list.title" }}</h3>

<p>
  {{ t "subscribe.off-list.body" }}
</p>
