<p>
  <a href="/" class="btn btn-default">&larr; {{ t "take-action.btn" }}</a>
</p>

<h1>{{ t "take-action.define.title" }}</h1>

<p>
  {{ t "take-action.define.body" }} <a href="/take-action#more-information">{{ t "take-action.define.more" }}</a>
</p>

<h1>{{ t "take-action.demand.title" }}</h1>

<p class="prominent">{{ t "take-action.demand.prominent" }} <strong>{{ t "take-action.demand.prominent-strong" }}</strong> {{ t "take-action.demand.prominent-end" }}</p>

<p>Call the Mayor's office now and demand <strong>ZERO PETCOKE THROUGHPUT</strong> at the <strong>SOUTH Terminal</strong> of KCBX Terminals. The City recently announced zero throughput at the North Terminal, but <strong>the North Terminal was already slated to close in June</strong>. Demand no petcoke through the South terminal as well.</p>

<p><strong>Already called?</strong> Great! Call again! By calling every time you receive a wind alert (or any other time) you help to create a consistent voice that the Mayor must address.</p>

<p class="prominent text-center">Call the Mayor:
  <a href="tel:+{{phoneNumber}}">{{formatPhoneNumber phoneNumber}}</a>
</p>

<h2>What should I say?</h2>

<blockquote>

    <p>
      {{ t "take-action.script.body" }}
    </p>

    <p>
      {{ t "take-action.script.body-ps" }}
    </p>

</blockquote>

<hr>

<h1 id="more-information">{{ t "take-action.more-information.title" }}</h1>

<p>
  <strong>{{ t "take-action.more-information.intro" }} <em>{{ t
  "take-action.more-information.intro-em" }}</em>, {{ t
  "take-action.more-information.intro-cont" }} <a href='{{ t "take-action.more-information.special" }}' target='_blank'>{{ t "take-action.more-information.special-text" }}</a></strong>
</p>

<blockquote>
  <p>
    {{ t "take-action.more-information.blockquote" }}
  </p>

  <p>
    ...<strong>{{ t "take-action.more-information.blockquote-strong" }}</strong>, {{ t "take-action.more-information.blockquote-cont" }}
  </p>
</blockquote>

<p>
  {{ t "take-action.more-information.study-lead"
  }} <a href='http://www.ncbi.nlm.nih.gov/pubmed/22456598' target='_blank'>{{
  t "take-action.more-information.study-a" }}</a> {{ t
  "take-action.more-information.study-b" }} <strong>{{ t
  "take-action.more-information.study-strong" }}</strong>
</p>

<p class="prominent text-center">Call the Mayor:
  <a href="tel:+{{phoneNumber}}">{{formatPhoneNumber phoneNumber}}</a>
</p>
