<h1>{{ t "take-action.define.title" }}</h1>

<p>
  {{ t "take-action.define.body" }} <a href="/take-action#more-information">{{ t "take-action.define.more" }}</a>
</p>

<h1>{{ t "take-action.demand.title" }}</h1>

<p class="prominent">{{ t "take-action.demand.prominent" }} <strong>{{ t "take-action.demand.prominent-strong" }}</strong> {{ t "take-action.demand.prominent-end" }}</p>

<p>{{ t "take-action.demand.body-a" }} <strong>{{ t
    "take-action.demand.body-b" }}</strong> {{ t "take-action.demand.body-c"
    }} <strong>{{ t "take-action.demand.body-d" }}</strong> {{ t
    "take-action.demand.body-e" }} <strong>{{ t "take-action.demand.body-f"
    }}</strong>. {{ t "take-action.demand.body-f" }}</p>

<p><strong>{{ t "take-action.demand.body-ps-strong" }}?</strong> {{ t
  "take-action.demand.body-ps" }}</p>

<p class="prominent text-center">{{ t "take-action.demand.prominent-number" }}
  <a href="tel:+{{phoneNumber}}">{{formatPhoneNumber phoneNumber}}</a>
</p>

<h2>{{ t "take-action.script.title" }}</h2>

<blockquote>

    <p>
      {{ t "take-action.script.body" }}
    </p>

    <p>
      {{ t "take-action.script.body-ps" }}
    </p>

</blockquote>

<hr>

<h1 id="more-information">{{ t "take-action.more-information.title" }}</h1>

<p>
  <strong>{{ t "take-action.more-information.intro" }} <em>{{ t
  "take-action.more-information.intro-em" }}</em>, {{ t
  "take-action.more-information.intro-cont" }} <a href='{{ t "take-action.more-information.special" }}' target='_blank'>{{ t "take-action.more-information.special-text" }}</a></strong>
</p>

<blockquote>
  <p>
    {{ t "take-action.more-information.blockquote" }}
  </p>

  <p>
    ...<strong>{{ t "take-action.more-information.blockquote-strong" }}</strong>, {{ t "take-action.more-information.blockquote-cont" }}
  </p>
</blockquote>

<p>
  {{ t "take-action.more-information.study-lead" }} <a href='http://www.ncbi.nlm.nih.gov/pubmed/22456598' target='_blank'>{{ t "take-action.more-information.study-a" }}</a> {{ t "take-action.more-information.study-b" }} <strong>{{ t "take-action.more-information.study-strong" }}</strong>
</p>

<p class="prominent text-center">{{ t "take-action.demand.prominent-number" }}
  <a href="tel:+{{phoneNumber}}">{{formatPhoneNumber phoneNumber}}</a>
</p>
