<p>
  <a href="/" class="btn btn-default">&larr; {{ t "take-action.btn" }}</a>
</p>

<h1>{{ t "take-action.define.title" }}</h1>

<p>
  {{ t "take-action.define.body" }} <a href="/take-action#more-information">{{ t "take-action.define.more" }}</a>
</p>

<h1>{{ t "take-action.demand.title" }}</h1>

<p class="prominent">{{ t "take-action.demand.prominent" }} <strong>{{ t "take-action.demand.prominent-strong" }}</strong> {{ t "take-action.demand.prominent-end" }}</p>

<p class="prominent">Call the Mayor's office now and demand <strong>ZERO PETCOKE THROUGHPUT</strong> at the KCBX Terminals</p>

<p class="prominent text-center">Call the Mayor: 312-744-3300</p>

<div class="well">

  <h4 class='text-center'>Here's a script if you're not sure what to say:</h4>

  <blockquote>

    <p>
      I'm calling to demand that the Department of Planning and Development recommend a petcoke throughput limit of ZERO for KCBX Terminals.  The American Cancer Society, Harvard University, and the EPA have determined that prolonged exposure to fine airborne dust particles, including petcoke, can lead to heart disease and lung disease, and this hazard must be eliminated from our community.
    </p>

    <p>
      Rahm Emanuel and John Pope said that they would "regulate petcoke out of Chicago". That strategy is failing. We need our elected officials to protect the people, not the polluters.
    </p>

  </blockquote>
</div>

<hr>

<h1 id="more-information">More information about Petcoke</h1>

<p>
  <strong>The following excerpts are from <em>Particle Pollution and Your Health</em>, a pamphlet released by the U.S. Environmental Protection Agency.  You can download the whole pamphlet <a href='http://www.epa.gov/airquality/particulatematter/pdfs/pm-color.pdf' target='_blank'>here</a></strong>
</p>

<blockquote>
  <p>
    ...The size of particles is directly linked to their potential for causing health problems. Small particles less than 10 micrometers in diameter pose the greatest problems, because they can get deep into your lungs, and some may even get into your bloodstream. Exposure to such particles can affect both your lungs and your heart...
  </p>

  <p>
    ...<strong>Long-term exposures</strong>, such as those experienced by people living for many years in areas with high particle levels, have been associated with problems such as reduced lung function and the development of chronic bronchitis&mdash;and even premature death...
  </p>
</blockquote>

<p>
  In addition, a <a href='http://www.ncbi.nlm.nih.gov/pubmed/22456598' target='_blank'>long term study by Harvard University</a> followed particulate matter levels in six cities over 35 years. The study found that increased levels of fine particulate matter in the air was associated with increased risk of mortality, especially cardiovascular and lung cancer mortality. The paper concludes <strong>"...further public policy efforts that reduce fine particulate matter air pollution are likely to have continuing public health benefits."</strong>
</p>

<p class="prominent text-center">Call the Mayor: 312-744-3300</p>

<div class="well">

  <blockquote>

    <p>
      I'm calling to demand that the Department of Planning and Development recommend a petcoke throughput limit of ZERO for KCBX Terminals.  The American Cancer Society, Harvard University, and the EPA have determined that prolonged exposure to fine airborne dust particles, including petcoke, can lead to heart disease and lung disease, and this hazard must be eliminated from our community.
    </p>

    <p>
      Rahm Emanuel and John Pope said that they would "regulate petcoke out of Chicago". That strategy is failing. We need our elected officials to protect the people, not the polluters.
    </p>

  </blockquote>
</div>
